:root {
    --primary-color: #00fbfb;
    --secondary-color: #e300c8;
    --white-color: #f1f1f1;
    --black-color: #000;
    --transition: 0.3s all linear;
    --background-color: #0a0726;
    --font-family: "HelveticaNeue";
}

* {
    box-sizing: inherit;
}

@font-face {
    font-weight: 400;
    font-family: "HelveticaNeue";
    src: url(./font/HelveticaNeue-Medium.ttf);
}

@font-face {
    font-weight: 600;
    font-family: "HelveticaNeue";
    src: url(./font/helveticaneuebold.ttf);
}

@font-face {
    font-weight: 300;
    font-family: "HelveticaNeue";
    src: url(./font/HelveticaNeue-Thin.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: var(--font-family);
    background-color: #141414;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.line-height-normal {
    line-height: 1.5;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-full {
    width: 100%;
}

.max-width {
    max-width: 1440px;
}

.h-full {
    height: 100%;
}

.text-center {
    text-align: center;
}

.place-center {
    place-content: center;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}




