.pose-page section {
    margin: 5rem;
}

.pose-page .title {
    font-size: 28px;
    margin-bottom: 2rem;
}

/* banner */
.pose-page .banner-container {
    top: 50%;
    transform: translateY(-50%);
}

.pose-page .banner-img {
    flex: 1;
}

.pose-page .banner-content {
    flex: 1;
    text-align: center;
    font-size: 2.222vw;
    text-transform: uppercase;
}

    .pose-page .banner-content > div {
        max-width: 70%;
    }

.pose-page .banner-img .text {
    top: 18%;
    left: 21%;
    font-size: 2.222vw;
}

/* introduce */
.pose-page .introduce .video {
    padding: 0 200px;
}

.pose-page .introduce iframe {
    width: 100%;
    height: 600px;
    border-radius: 50px;
}

/* benefit */
.pose-page .benefit-content {
    padding: 0 200px;
}

.pose-page .benefit .box {
    width: 100%;
    height: 140px;
    padding: 20px;
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
}

/* course-for */

.pose-page .course-for .box {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 18px;
    max-width: 650px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
}

/* lecture */
.pose-page .lecture-content {
    padding: 0 200px;
}

.pose-page .lecture img {
    width: 100%;
    max-width: 50%;
    position: relative;
}

.pose-page .lecture .group-img {
    z-index: 1;
    position: relative;
    margin-bottom: 1rem;
}

    .pose-page .lecture .group-img::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        top: 50px;
        bottom: -10px;
        z-index: -1;
        background-color: var(--black-color);
    }

/* feedback */
.pose-page .feedback-content {
    padding: 0 200px;
}

.feedback .name-student {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
}

.feedback .video {
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #fff;
}

    .feedback .video iframe {
        width: 100%;
        height: 300px;
        display: block;
    }

/* infor */
.pose-page .infor-content {
    padding: 0 200px;
}

.pose-page .infor {
    font-size: 18px;
}

    .pose-page .infor .details p {
        margin-bottom: 0.5rem;
    }

    .pose-page .infor .box {
        padding: 20px;
        min-height: 190px;
        text-align: center;
        align-items: center;
        border-radius: 50px;
        margin-bottom: 2rem;
        justify-content: space-between;
        border: 1px solid var(--primary-color);
    }

        .pose-page .infor .box strong {
            font-size: 20px;
            margin: 0 4px;
        }

    .pose-page .infor .price {
        font-size: 24px;
        margin-bottom: 1rem;
    }

    .pose-page .infor button {
        padding: 8px 30px;
        border-radius: 30px;
        color: var(--white-color);
        background-image: linear-gradient( to right, var(--secondary-color), var(--primary-color) );
        border: 1px solid var(--primary-color);
    }

    .pose-page .infor .discount {
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 30px;
        border: 1px solid var(--primary-color);
    }

@media only screen and (max-width: 1160px) {
    .pose-page section {
        margin: 4rem 20px;
    }

    /* introduce */
    .pose-page .introduce .video,
    .pose-page .benefit-content,
    .pose-page .lecture-content,
    .pose-page .feedback-content,
    .pose-page .infor-content {
        padding: 0 68px;
    }

    .pose-page .introduce iframe {
        height: 400px;
    }

    .pose-page .lecture .group-img {
        flex-direction: column;
        align-items: center;
    }

    .pose-page .lecture img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    /* home-banner */
    .banner-container > div {
        flex-direction: column;
    }

    .banner-img .text {
        top: 22%;
        font-size: 18px;
    }

    .banner-content > div {
        margin: 0 auto;
        position: relative;
        top: -128%;
        font-size: 8px;
    }

    /* introduce */
    .pose-page .introduce .video,
    .pose-page .benefit-content,
    .pose-page .lecture-content,
    .pose-page .feedback-content,
    .pose-page .infor-content {
        padding: 0;
    }

    .pose-page .introduce iframe,
    .feedback .video iframe {
        height: 240px;
    }

    .pose-page .infor .discount {
        margin-top: 1rem;
    }

    .pose-page .infor-content .details {
        margin-bottom: 1rem;
    }

    .pose-page .course-for .box {
        border-radius: 30px;
    }
}
