<!------ footer ------>
    <div class="footer">
      <div class="footer-content">
        <div class="row g-2">
          <div class="col-xl-4 col-md-12">
            <div class="p-3">
              <h2>KOLIN ACADEMY</h2>
              <br />
              <p>
                <strong>Địa chỉ: </strong> 110 Nguyễn Hy Quang, Ô Chợ Dừa, Đống
                Đa, Hà Nội'
              </p>
              <strong>Hotline: </strong>
              0961.866.955
            </div>
          </div>
          <div class="col-xl-4 col-md-12">
            <div class="p-3">
              <h2>KHÓA HỌC</h2>
              <br />
              <p>‣ Brand Master</p>
              <p>‣ Personal brand pro</p>
              <p>‣ Pose</p>
              <p>‣ Livestream Master</p>
              <p>‣ Thần Thái - Khí Chất</p>
              <p>‣ Tiktok idol</p>
            </div>
          </div>
          <div class="col-xl-4 col-md-12">
            <div class="p-3">
              <h2>THÔNG TIN LIÊN HỆ</h2>
              <br />
              <p>‣ Về Kolin</p>
              <p>‣ Khóa học</p>
              <p>‣ Thư viện tài liệu</p>
              <p>‣ Kiến thức</p>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-12">
            <div class="p-3">
              <p>© 2022KOLIN ACADEMY</p>
            </div>
          </div>
        </div>
      </div>
      <img src="./img/footer.png" alt="decor-footer" />
    </div>
