<!------ footer ------>
<div class="footer">
    <div class="footer-content">
        <div class="row g-2">
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>KOLIN ACADEMY</h2>
                    <br />
                    <p>
                        <strong>Địa chỉ: </strong> 110 Nguyễn Hy Quang, Ô Chợ Dừa, Đống
                        Đa, Hà Nội
                    </p>
                    <strong>Hotline: </strong>
                    0961.866.955
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>KHÓA HỌC</h2>
                    <br />
                    <a href="https://vudieuthuy.com/khoa-hoc-brandmaster/" title="trang brand master" style="color:#FFFFFF">‣ Brand Master</a>
                    <br />
                    <a href="https://vudieuthuy.com/khoa-hoc-xay-dung-thuong-hieu-ca-nhan-cua-vu-dieu-thuy/" title="trang brand master" style="color:#FFFFFF">‣ Personal brand pro</a>
                    <br />

                    <a href="https://kolin.vn/khoa-hoc-offline/change-2-shine-11" title="trang brand master" style="color:#FFFFFF">‣ Pose</a>
                    <br />
                    <a href="https://kolin.vn/khoa-hoc-offline/livestream-master-10" title="trang brand master" style="color:#FFFFFF">‣ Livestream Master</a>
                    <br />

                    <a href="https://kolin.vn/khoa-hoc-offline/than-thai-khi-chat-9" title="trang brand master" style="color:#FFFFFF">‣ Thần Thái - Khí Chất</a>
                    <br />

                    <a href="https://vudieuthuy.com/khoa-hoc-tiktok-idol/" title="trang brand master" style="color:#FFFFFF">‣ Tiktok idol</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <br />
                    <a href="https://kolin.vn/gioi-thieu" title="trang brand master" style="color:#FFFFFF">‣ Về Kolin</a>
                    <br />

                    <a href="https://kolin.vn/khoa-hoc-truc-tuyen" title="trang brand master" style="color:#FFFFFF">‣ Khóa học</a>
                    <br />

                    <a href="https://kolin.vn/thu-vien-tai-lieu" title="trang brand master" style="color:#FFFFFF">‣ Thư viện tài liệu</a>
                    <br />

                    <a href="https://kolin.vn/kien-thuc" title="trang brand master" style="color:#FFFFFF">‣ Kiến thức</a>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12">
                <div class="p-3">
                    <p>© 2022KOLIN ACADEMY</p>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/footer.png" alt="decor-footer" />
</div>
