<!------ footer ------>
<div class="footer">
    <div class="footer-content">
        <div class="row g-2">
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>KOLIN ACADEMY</h2>
                    <br />
                    <p>
                        <strong>Địa chỉ: </strong> 110 Nguyễn Hy Quang, Ô Chợ Dừa, Đống
                        Đa, Hà Nội
                    </p>
                    <strong>Hotline: </strong>
                    0961.866.955
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>KHÓA HỌC</h2>
                    <br />
                    <NavLink href="/khoa-hoc-offline/personal-brand-16" title="trang brand master" style="color:#FFFFFF">‣ Personal brand pro</NavLink>
                    <br />
                    <NavLink href="/khoa-hoc-offline/change-2-shine-11" title="trang brand master" style="color:#FFFFFF">‣ Pose</NavLink>
                    <br />
                    <NavLink href="/khoa-hoc-offline/livestream-master-10" title="trang brand master" style="color:#FFFFFF">‣ Livestream Master</NavLink>
                    <br />
                    <NavLink href="/khoa-hoc-offline/than-thai-khi-chat-9" title="trang brand master" style="color:#FFFFFF">‣ Thần Thái - Khí Chất</NavLink>
                    <br />
                    <NavLink href="/khoa-hoc-offline/tiktok-idol-15" title="trang brand master" style="color:#FFFFFF">‣ Tiktok idol</NavLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="p-3">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <br />
                    <NavLink href="/gioi-thieu" title="trang brand master" style="color:#FFFFFF">‣ Về Kolin</NavLink>
                    <br />

                    <NavLink href="/khoa-hoc-truc-tuyen" title="trang brand master" style="color:#FFFFFF">‣ Khóa học</NavLink>
                    <br />

                    <NavLink href="/thu-vien-tai-lieu" title="trang brand master" style="color:#FFFFFF">‣ Thư viện tài liệu</NavLink>
                    <br />

                    <NavLink href="/kien-thuc" title="trang brand master" style="color:#FFFFFF">‣ Kiến thức</NavLink>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12">
                <div class="p-3">
                    <p>© 2022KOLIN ACADEMY</p>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/footer.png" alt="decor-footer" />
</div>
