/* ===== header ===== */

.nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.links {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 0;
}

.nav-toggle {
    display: none;
}

.links li .link-item {
    padding: 0.5rem;
    margin: 0 0.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 18px;
    font-weight: 600;
}

    .links a:hover {
        color: var(--secondary-color);
    }

.login a {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-color);
    transition: var(--transition);
    padding: 0.5rem;
    margin: 0 0.5rem;
    padding: 8px 20px;
    background-color: #1a02a6;
    border-radius: 20px;
}

    .login a:hover {
        color: var(--secondary-color);
    }

.cart {
    padding: 1rem;
}

    .cart:hover svg path {
        cursor: pointer;
        transition: var(--transition);
        fill: var(--secondary-color);
    }

.user a {
    transition: var(--transition);
    color: var(--white-color);
}

    .user a:hover {
        color: var(--secondary-color);
    }

.name-user {
    font-size: 18px;
    margin-left: 1rem;
}

.name-page {
    display: none;
}

.cart-mobile,
.user-mobile {
    display: none;
}


@media only screen and (max-width: 1160px) {
    /* ------- header ------ */
    nav {
        box-shadow: 2px 2px 15px #333;
    }

    .nav-center {
        display: block;
        padding: 1rem;
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .nav-toggle {
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        color: var(--primary-color);
        transition: all 0.3s linear;
    }

    .nav-header img {
        height: 40px;
    }

    .links a {
        text-decoration: none;
        color: var(--primary-color);
        display: block;
        font-size: 17px;
        padding: 1rem 0;
    }

    .links {
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        margin: 0;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
    }

    .nav-toggle {
        display: block;
    }

    .show-links {
        height: 25rem;
    }

    .login,
    .user {
        display: none !important;
    }

    .login-mobile {
        padding: 0.5rem;
        background-color: #9e005d;
    }

        .login-mobile a {
            color: var(--white-color);
            text-transform: uppercase;
        }

    .name-wrapper {
        border-radius: 20px;
        padding: 2px 4px 3px 12px;
        border: 1px solid var(--primary-color);
    }

    .name-page {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
    }

    .name-user {
        font-size: 16px;
    }

    .cart {
        display: none;
    }

    .cart-mobile,
    .user-mobile {
        display: block;
    }
}

