@inherits ComponentBase;
@inject IJSRuntime jsr;

<!------ header ------>
<nav>
    <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <img src="./img/logo.png" alt="" />
            <div class="d-flex align-items-center">
                <p class="name-page">Trang chủ</p>
                <button class="nav-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512"
                         width="24px">
                        <path fill="#00fbfb"
                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- links -->
        <ul class="links">
            <li><NavLink href="/">Trang chủ</NavLink></li>
            <li><NavLink href="/gioi-thieu">Về Kolin</NavLink></li>
            <li><NavLink href="#">Khóa học</NavLink></li>
            <li><NavLink href="#">Thư viện tài liệu</NavLink></li>
            <li><NavLink href="#">Kiến thức</NavLink></li>

            <li><NavLink href="/dang-nhap">Đăng nhập</NavLink></li>
            <li><NavLink href="/dang-ky">Đăng ký</NavLink></li>
        </ul>
    </div>
</nav>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var module = jsr.InvokeAsync<IJSObjectReference>("import", "./Shared/NavMenu.razor.js");
    }
}