@using System.Security.Claims
@inherits ComponentBase;
@inject IJSRuntime jsr;

<!------ header ------>
<nav>
    <div class="login-mobile">
        <AuthorizeView>
            <NotAuthorized>
                <div class="d-flex justify-content-end">
                    <div><NavLink href="/dang-ki">Đăng ký</NavLink></div>
                    <div class="mx-2">|</div>
                    <div><NavLink href="/dang-nhap">Đăng nhập</NavLink></div>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="user-mobile">
                    <NavLink href="/ca-nhan" class="d-flex justify-content-end">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512"
                             width="20px"
                             height="20pxs">
                            <path fill="#e300c8"
                                  d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                        <div class="name-user">@(UserFullName)</div>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <img src="./img/logo.png" alt="" />
            <div class="d-flex align-items-center name-wrapper">
                <p class="name-page">Trang chủ</p>
                <button class="nav-toggle2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512"
                         width="20px">
                        <path fill="#f1f1f1"
                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- links -->
        <ul class="links">
            <li><NavLink href="/">Trang chủ</NavLink></li>
            <li><NavLink href="/gioi-thieu">Về Kolin</NavLink></li>
            <li><NavLink href="/khoa-hoc-truc-tuyen">Khóa học</NavLink></li>
            <li><NavLink href="/thu-vien-tai-lieu">Thư viện tài liệu</NavLink></li>
            <li><NavLink href="/kien-thuc">Kiến thức</NavLink></li>


            <li class="cart-mobile">
                <NavLink href="/gio-hang">Giỏ hàng</NavLink>
            </li>
        </ul>

        <AuthorizeView>
            <NotAuthorized>
                <div class="d-flex login">
                    <div><NavLink href="/dang-ky">Đăng ký</NavLink></div>
                    <div><NavLink href="/dang-nhap">Đăng nhập</NavLink></div>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="user">
                    <NavLink href="/ca-nhan" class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512"
                             width="20px"
                             height="20pxs">
                            <path fill="#e300c8"
                                  d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                        <div class="name-user">@(UserFullName)</div>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="cart">
            <NavLink href="/gio-hang">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 576 512"
                     width="24px"
                     height="24px">
                    <path fill="#00fbfb"
                          d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H76.1l60.3 316.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H179.9l-9.1-48h317c14.3 0 26.9-9.5 30.8-23.3l54-192C578.3 52.3 563 32 541.8 32H122l-2.4-12.5C117.4 8.2 107.5 0 96 0H24zM176 512c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48z" />
                </svg>
            </NavLink>
        </div>
    </div>
</nav>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authState;
    private string UserFullName = "";

    protected override async Task OnInitializedAsync()
    {
        authState = await authenticationStateTask;
        UserFullName = authState.User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var module = jsr.InvokeAsync<IJSObjectReference>("import", "./Shared/NavMenu.razor.js");
    }
}