.validation-message {
    color: red;
    margin-top: 2px;
    margin-left: 3px;
}

.ql-container {
    height: 300px !important;
}
.disc1 {
    max-height: 300%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 10px 0;
}