@page "/dang-nhap"
@model KAWebHost.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Đăng nhập - Kolin";
}
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-color: #2c359d">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <a href="../../demo8/dist/index.html" class="mb-12">
                <img alt="Logo" src="~/img/logo.png" class="h-40px" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <!--begin::Form-->
                <form class="form w-100" id="kt_sign_in_form" method="post">

                    <!--begin::Heading-->
                    <div class="text-center mb-10">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-3">Đăng nhập</h1>
                        <!--end::Title-->
                        <!--begin::Link-->
                        <div class="text-gray-400 fw-bold fs-4">
                            Bạn là người mới?
                            <a href="/dang-ky" class="link-primary fw-bolder">Tạo tài khoản</a>
                        </div>

                        <!--end::Link-->
                    </div>
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <label class="form-label fs-6 fw-bolder text-dark required">Tên tài khoản hoặc email</label>
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label fw-bolder text-dark fs-6 mb-0" required>Mật khẩu</label>
                            <!--end::Label-->

                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" type="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <!--end::Input-->
                    </div>

                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <!--begin::Submit button-->
                        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                            <span class="indicator-label">Đăng nhập</span>
                        </button>
                        <!--end::Submit button-->
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
                <div class="text-gray-400 fw-bold fs-4 d-flex justify-content-between w-50" style="margin: 50px auto 0;">
                    <a href="/" class="link-primary fw-bolder">Trang chủ</a>
                    |
                    <a href="/gioi-thieu" class="link-primary fw-bolder">Về chúng tôi</a>
                </div>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>
<!--end::Main-->