<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/common/common.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    @* taskkill /F /PID 17820*@
    <!--end::Global Stylesheets Bundle-->
</head>
<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">

    <!--begin::Root-->
    @RenderBody()
    <!--end::Root-->

    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    @*<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>*@
    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src="~/scripts/boot.js"></script>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
</body>
</html>