@using KAWebHost
@using Microsoft.AspNetCore.Components.Web
@namespace KAWebHost
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <base href="~/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="JcsnH4DTHkMvgiEbHX4PERDo4vQluURPgaejN8TtfRo" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site/main.css" rel="stylesheet" />
    <link href="css/site/site.css" rel="stylesheet" />
    <link href="KAWebHost.styles.css" rel="stylesheet" />
    @*<link href="@($"{typeof(App).Assembly.GetName().Name}.styles.css")" rel="stylesheet" />*@
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B2X28JS0JM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B2X28JS0JM');
    </script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.

        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.

        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>

    </div>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    @RenderBody()
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="_framework/blazor.server.js"></script>
   

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "104294714748014");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>