@page "/gioi-thieu"
@using KA.Service.Contacts
@using KA.ViewModels.Contact
@inherits OwningComponentBase
@inject IJSRuntime jsr

<PageTitle>
    Giới thiệu về Kolin
</PageTitle>


<div class="intro-kolin">
      <div class="bg-[url('/img/home-page/bg-reason.png')] bg-center">
        <div class="container-1200 py-24">
          <h2
            class="text-3xl lg:text-[54px] leading-12 font-semibold text-red-700"
          >
            KOLIN ACADEMY
          </h2>
          <div class="text-xl mb-24">
            <div class="mt-6">
              Tiền thân là học viện Nik Academy, Nay là Học Viện Đào Tạo KOL’s
              Kolin Academy Kolin Academy là đơn vị cung cấp giải pháp, định
              hướng xây dựng thương hiệu cá nhân cho các cá nhân, đội nhóm,
              doanh nghiệp thông qua các giải pháp:
            </div>
            <ul class="list-disc ml-14 mt-6">
              <li>
                Đào tạo và huấn luyện ngắn hạn về thương hiệu cá nhân, xác định
                hình tượng, định vị bản thân, lựa chọn kênh truyền thông, cách
                quay, dựng, sản xuất nội dung.
              </li>
              <li>
                Huấn luyện nội bộ, đào tạo nhân sự cho các tổ chức, công ty
              </li>
              <li>Lớp học trực tuyến Online Learning</li>
              <li>Coaching trực tiếp, tư vấn và đồng hành</li>
              <li>Tổ chức sự kiện/ workshop</li>
            </ul>
            <div class="mt-6">
              Với hơn 8000 học viên đã qua đào tạo đến từ khắp 3 miền trên tổ
              quốc, Kolin Academy tự hào là đơn vị dẫn đầu về đào tạo xây dựng
              thương hiệu cá nhân, giúp cho rất nhiều học viên, doanh nghiệp, tổ
              chức tìm ra được hình thức marketing mới thay thế cho tư duy
              marketing doanh nghiệp cũ, từ đó đem lại hiệu quả cực kì cao trong
              hệ thông kinh doanh của các cá nhân, doanh nghiệp
            </div>
          </div>
          <h2
            class="text-3xl lg:text-[54px] leading-12 font-semibold text-center text-red-700 uppercase"
          >
            triết lý kinh doanh
          </h2>
          <div
            class="grid lg:grid-cols-4 grid-cols-1 gap-8 mt-10 uppercase text-center"
          >
            <div class="bg-red-700 rounded-lg p-6 text-4xl font-semibold">
              tiên phong
            </div>
            <div class="bg-red-700 rounded-lg p-6 text-4xl font-semibold">
              khác biệt
            </div>
            <div class="bg-red-700 rounded-lg p-6 text-4xl font-semibold">
              hiệu quả
            </div>
            <div class="bg-red-700 rounded-lg p-6 text-4xl font-semibold">
              thực tiễn
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[url('/img/intro/bg-intro.png')] bg-cover bg-no-repeat bg-center"
      >
        <div class="container-1200 py-16">
          <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-12 place-items-center"
          >
            <div>
              <img
                class="rounded-xl object-cover w-[325px] lg:w-[492px]"
                src="./img/course/person-01.png"
                alt=""
              />
            </div>
            <div class="flex flex-col gap-14">
              <div>
                <img
                  class="w-[282px]"
                  src="./img/intro/su-menh.png"
                  alt="su menh"
                />
                <div class="text-xl">
                  Trở thành đơn vị Đào tạo - Huấn Luyện - Tư vấn hàng đầu Việt
                  Nam về xây dựng thương hiệu cá nhân, phát triển con người,
                  phát triển hệ thống, tổ chức
                </div>
              </div>
              <div>
                <img
                  class="w-[250px]"
                  src="./img/intro/tam-nhin.png"
                  alt="tam nhin"
                />
                <div class="text-xl">
                  Kolin Academy khát khao mang đến những đổi mới về hành trình
                  xác nhận, xây dựng hình tượng bản thân cho mọi các nhân trên
                  đất nước Việt Nam, thực hiện hoài bão xây dựng hình ảnh doanh
                  nghiệp, tổ chức thông qua thương hiệu cá nhân.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-1200 my-24">
        <h2
          class="text-3xl lg:text-[54px] leading-12 font-semibold text-red-700 uppercase text-center"
        >
          giá trị cốt lõi
        </h2>
        <div class="flex flex-col lg:flex-row gap-12 pt-16 items-center">
          <div class="uppercase text-xl lg:text-2xl flex flex-col gap-6 flex-1">
            <div class="flex gap-4 font-semibold bg-red-900 p-5 rounded-lg">
              <img
                src="./img/intro/arrow.svg"
                alt="arrow icon"
                class="inline-block"
              />
              <div>Gia tăng giá trị khách hàng</div>
            </div>
            <div class="flex gap-4 font-semibold bg-red-900 p-5 rounded-lg">
              <img
                src="./img/intro/arrow.svg"
                alt="arrow icon"
                class="inline-block"
              />
              <div>Chính trực</div>
            </div>
            <div class="flex gap-4 font-semibold bg-red-900 p-5 rounded-lg">
              <img
                src="./img/intro/arrow.svg"
                alt="arrow icon"
                class="inline-block"
              />
              <div>Tận tâm</div>
            </div>
            <div class="flex gap-4 font-semibold bg-red-900 p-5 rounded-lg">
              <img
                src="./img/intro/arrow.svg"
                alt="arrow icon"
                class="inline-block"
              />
              <div>Học hỏi và phát triển</div>
            </div>
          </div>
          <div class="flex-1">
            <img src="./img/intro/gia-tri-cot-loi.png" alt="gia tri cot loi" />
          </div>
        </div>
      </div>
      <div class="max-w-[1920px] mx-auto px-20">
        <h2
          class="text-3xl lg:text-5xl font-semibold text-red-700 uppercase text-center"
        >
          học viên nói gì về KOLIN ACADEMY
        </h2>
        <div class="text-lg text-center px-0 lg:px-20 mt-2">
          Thành công lớn nhất của Kolin chính là sự chuyển hoá bản thân tích cực
          để điều hành doanh nghiệp phát triển bền vững của nhiều chủ doanh
          nghiệp.
        </div>
        <div class="slider-story">
          <div class="item">
            <div class="bg-white p-4 rounded-lg">
              <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1">
                  <img
                    src="./img/intro/img-01.png"
                    alt="img-01"
                    class="w-full h-full object-cover rounded-lg"
                  />
                </div>
                <div class="col-span-2 text-black">
                  <div class="flex justify-between">
                    <div>
                      <div class="text-lg lg:text-xl uppercase font-semibold">
                        Mr. Nguyễn Yên Thế
                      </div>
                      <div>CEO Công ty TNHH Thế Thảo</div>
                    </div>
                    <div>
                      <img
                        src="./img/intro/icon-fb.png"
                        alt="icon fb"
                        class="w-[32px]"
                      />
                    </div>
                  </div>
                  <hr class="h-px my-3 bg-gray-800 border-0" />
                  <div>
                    May mắn được đồng hành và htọc tập trong cộng đồng
                    BusinessMaster. <br />Biết ơn trường doanh nhân HBR và thầy
                    Nguyễn Tiến Dũng đã luôn chia sẻ , trao đi những kiến thức
                    quý báu🥰🥰<br />Buổi Q&A tháng 8 chủ đề 'Marketing đa nền
                    tảng'. 11h đêm mà mng còn chăm chú quá 😃😃
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="bg-white p-4 rounded-lg">
              <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1">
                  <img
                    src="./img/intro/img-01.png"
                    alt="img-01"
                    class="w-full h-full object-cover rounded-lg"
                  />
                </div>
                <div class="col-span-2 text-black">
                  <div class="flex justify-between">
                    <div>
                      <div class="text-lg lg:text-xl uppercase font-semibold">
                        Mr. Nguyễn Yên Thế
                      </div>
                      <div>CEO Công ty TNHH Thế Thảo</div>
                    </div>
                    <div>
                      <img
                        src="./img/intro/icon-fb.png"
                        alt="icon fb"
                        class="w-[32px]"
                      />
                    </div>
                  </div>
                  <hr class="h-px my-3 bg-gray-800 border-0" />
                  <div>
                    May mắn được đồng hành và htọc tập trong cộng đồng
                    BusinessMaster. <br />Biết ơn trường doanh nhân HBR và thầy
                    Nguyễn Tiến Dũng đã luôn chia sẻ , trao đi những kiến thức
                    quý báu🥰🥰<br />Buổi Q&A tháng 8 chủ đề 'Marketing đa nền
                    tảng'. 11h đêm mà mng còn chăm chú quá 😃😃
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="bg-white p-4 rounded-lg">
              <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1">
                  <img
                    src="./img/intro/img-01.png"
                    alt="img-01"
                    class="w-full h-full object-cover rounded-lg"
                  />
                </div>
                <div class="col-span-2 text-black">
                  <div class="flex justify-between">
                    <div>
                      <div class="text-lg lg:text-xl uppercase font-semibold">
                        Mr. Nguyễn Yên Thế
                      </div>
                      <div>CEO Công ty TNHH Thế Thảo</div>
                    </div>
                    <div>
                      <img
                        src="./img/intro/icon-fb.png"
                        alt="icon fb"
                        class="w-[32px]"
                      />
                    </div>
                  </div>
                  <hr class="h-px my-3 bg-gray-800 border-0" />
                  <div>
                    May mắn được đồng hành và htọc tập trong cộng đồng
                    BusinessMaster. <br />Biết ơn trường doanh nhân HBR và thầy
                    Nguyễn Tiến Dũng đã luôn chia sẻ , trao đi những kiến thức
                    quý báu🥰🥰<br />Buổi Q&A tháng 8 chủ đề 'Marketing đa nền
                    tảng'. 11h đêm mà mng còn chăm chú quá 😃😃
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="bg-white p-4 rounded-lg">
              <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1">
                  <img
                    src="./img/intro/img-01.png"
                    alt="img-01"
                    class="w-full h-full object-cover rounded-lg"
                  />
                </div>
                <div class="col-span-2 text-black">
                  <div class="flex justify-between">
                    <div>
                      <div class="text-lg lg:text-xl uppercase font-semibold">
                        Mr. Nguyễn Yên Thế
                      </div>
                      <div>CEO Công ty TNHH Thế Thảo</div>
                    </div>
                    <div>
                      <img
                        src="./img/intro/icon-fb.png"
                        alt="icon fb"
                        class="w-[32px]"
                      />
                    </div>
                  </div>
                  <hr class="h-px my-3 bg-gray-800 border-0" />
                  <div>
                    May mắn được đồng hành và htọc tập trong cộng đồng
                    BusinessMaster. <br />Biết ơn trường doanh nhân HBR và thầy
                    Nguyễn Tiến Dũng đã luôn chia sẻ , trao đi những kiến thức
                    quý báu🥰🥰<br />Buổi Q&A tháng 8 chủ đề 'Marketing đa nền
                    tảng'. 11h đêm mà mng còn chăm chú quá 😃😃
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <a
            href="#"
            class="bg-white hover:bg-gray-100 text-red-800 font-bold py-3 px-12 text-base rounded"
          >
            Xem chi tiết
          </a>
        </div>
      </div>
      <!-- FORM ĐĂNG KÝ KHÓA HỌC -->
      <div>
        <div class="container-1200 py-16 px-4 lg:px-0">
          <EditForm Model="contactModel" OnValidSubmit="SaveContactInfo" 
            class="w-full bg-red-800 py-3 px-3 lg:py-12 lg:px-28 rounded-lg"
          >
            <h2
              class="text-3xl lg:text-[28px] leading-8 font-semibold text-center mb-5 text-white"
            >
              ĐĂNG KÝ NHẬN TƯ VẤN KHÓA HỌC
            </h2>
            <div class="flex flex-wrap -mx-3">
              <div class="w-full md:w-1/2 px-1">
                <InputText
                  @bind-Value="contactModel.FullName"
                  type="text"
                  id="input-name"
                  class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-5 p-2.5"
                  placeholder="Họ và tên"
                />
              </div>
              <div class="w-full md:w-1/2 px-1">
                <InputText
                  @bind-Value="contactModel.PhoneNumber"
                  type="tel"
                  id="input-phone"
                  class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-5 p-2.5"
                  placeholder="Số điện thoại"
                />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mt-3">
              <div class="w-full md:w-1/2 px-1">
                <InputText
                    @bind-Value="contactModel.Email"
                  type="email"
                  id="input-email"
                  class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-5 p-2.5"
                  placeholder="Email"
                />
              </div>
              <div class="w-full md:w-1/2 px-1">
                <InputText
                    @bind-Value="contactModel.Note"
                  type="text"
                  id="input-location"
                  class="bg-gray-50 border border-gray-400 text-gray-700 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-5 p-2.5"
                  placeholder="Lĩnh vực anh/chị quan tâm"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="text-white text-xl rounded-lg px-20 py-2.5 mt-6 border bg-gradient-to-r from-red-500 to-red-900"
              >
                ĐĂNG KÝ NGAY
              </button>
            </div>
          </EditForm>
        </div>
      </div>
    </div>

