@page "/gio-hang"
@attribute [Authorize]
@inherits OwningComponentBase
<div class="cart-page">
    <section class="cart-container">
        <div class="max-width mx-auto">
            <div class="secondary-color title">
                <p class="">GIỎ HÀNG</p>
            </div>
            <div class="list-products">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Khóa học</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartProduct in cartVm.CartProductVms)
                        {
                            <tr>
                                <td>@cartProduct.CourseName</td>
                                <td>01 khóa</td>
                                <td>@cartProduct.DiscountPrice</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Tổng</th>
                            <th>@(cartVm.Amount) khóa</th>
                            <th class="secondary-color">@cartVm.Total</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="d-flex justify-content-end">
                    <button class="btn-pay">Thanh toán</button>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}