@page "/gio-hang"

<div class="cart-page">
    <section class="cart-container">
        <div class="max-width mx-auto">
            <div class="secondary-color title">
                <p class="">GIỎ HÀNG</p>
            </div>
            <div class="list-products">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Khóa học</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Livestream Master Online</td>
                            <td>01 Khoá</td>
                            <td>999.999 vnd</td>
                        </tr>
                        <tr>
                            <td>Change 2 Shine Online</td>
                            <td>01 Khoá</td>
                            <td>999.999 vnd</td>
                        </tr>
                        <tr>
                            <td>Personal brand Online</td>
                            <td>01 Khoá</td>
                            <td>999.999 vnd</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Tổng</th>
                            <th class="secondary-color">2.999.997 vnd</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="d-flex justify-content-end">
                    <button class="btn-pay">Thanh toán</button>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
