@inherits OwningComponentBase
@page "/khoa-hoc-offline/{CourseSeoName}"


@if (model.IsUseExternalHtml)
{
    <HeadContent>
        <link href="@model.ExternalCssLink" rel="stylesheet" />
        <PageTitle>@(model?.Name + "- Kolin")</PageTitle>
    </HeadContent>
}


<div>
    @((MarkupString)model.Description)
</div>
