@inherits OwningComponentBase
@page "/khoa-hoc-offline/{CourseSeoName}"



@if (model.IsUseExternalHtml)
{
    <HeadContent>
        <link href="@model.ExternalCssLink" rel="stylesheet" />
    </HeadContent>
}


<div>
    @((MarkupString)model.Description)
</div>
