@page "/thu-vien-tai-lieu"
<div class="document-page max-width mx-auto">
      <div class="title secondary-color text-center">TÀI LIỆU</div>
      <div class="document-content">
        <div class="row g-5">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-item">
              <div class="line relative">
                <div class="heading">
                  7 BƯỚC HƯỚNG DẪN NGƯỜI MỚI KINH DOANH THÀNH CÔNG
                </div>
              </div>
              <p class="primary-color">Nhận tài liệu‣‣</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-item">
              <div class="line relative">
                <div class="heading">
                  7 BƯỚC HƯỚNG DẪN NGƯỜI MỚI KINH DOANH THÀNH CÔNG
                </div>
              </div>
              <p class="primary-color">Nhận tài liệu‣‣</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-item">
              <div class="line relative">
                <div class="heading">
                  7 BƯỚC HƯỚNG DẪN NGƯỜI MỚI KINH DOANH THÀNH CÔNG
                </div>
              </div>
              <p class="primary-color">Nhận tài liệu‣‣</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-item">
              <div class="line relative">
                <div class="heading">
                  7 BƯỚC HƯỚNG DẪN NGƯỜI MỚI KINH DOANH THÀNH CÔNG
                </div>
              </div>
              <p class="primary-color">Nhận tài liệu‣‣</p>
            </div>
          </div>
        </div>
      </div>
    </div>