@page "/thu-vien-tai-lieu"
@inherits OwningComponentBase
<HeadContent>
    <PageTitle>Tài liệu - Kolin</PageTitle>
</HeadContent>
<div class="document-page max-width mx-auto">
    <div class="title secondary-color text-center">TÀI LIỆU</div>
    <div class="document-content">
        @if (fileObjects?.Count > 0)
        {
            <div class="row g-5">
                @foreach (var item in fileObjects)
                {
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="box-item">
                            <div class="line relative">
                                <div class="heading">
                                    @item.FileName
                                </div>
                            </div>
                            <div style="text-align:right">
                                <span class="primary-color" @onclick="()=> DownloadFileFromStream(item.FilePath,item.FileName)">Nhận tài liệu‣‣</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>