@page "/phan-hoi"
@inherits OwningComponentBase
<div class="feedback-page">
    <div class="video-feedback relative">
        <div class="heading secondary-color line-height-normal mx-auto">
            FEEDBACK
        </div>

        <div class="video-topic mx-auto">
            <div class="title primary-color line-height-normal">
                CHANGE 2 SHINE
            </div>
            <div class="row g-lg-5 g-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="video">
                        <iframe width="420"
                                height="345"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="name">Học viện: Nguyễn Lan Anh</div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="video">
                        <iframe width="420"
                                height="345"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="name">Học viện: Đoàn Thúy Hoan</div>
                </div>
            </div>
        </div>
        <div class="video-topic mx-auto">
            <div class="title primary-color line-height-normal">
                PERSONAL BRAND PRO
            </div>
            <div class="row g-lg-5 g-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="video">
                        <iframe width="420"
                                height="345"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="name">Học viện: Nguyễn Lan Anh</div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="video">
                        <iframe width="420"
                                height="345"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="name">Học viện: Đoàn Thúy Hoan</div>
                </div>
            </div>
        </div>

        <div class="decor">
            <img class="absolute" src="./img/Frame.svg" alt="" />
        </div>
    </div>

    <div class="student-feedback relative">
        <div class="student-content mx-auto">
            <div class="title text-center line-height-normal">
                <p class="primary-color inline-block">HỌC VIÊN</p>
                <p class="secondary-color inline-block">CỦA KOLIN</p>
            </div>

            <div class="row g-lg-5 g-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="student d-flex justify-content-between">
                        <div class="student-img">
                            <img src="./img/knowledge.png" alt="" />
                        </div>
                        <div class="student-info">
                            <h4 class="primary-color line-height-normal">
                                Học viên Bảo Ngọc
                            </h4>
                            <strong>CEO Bảo Ngọc Aerobic</strong>
                            <div>
                                <strong class="inline-block">Khóa học: </strong>
                                <p class="inline-block">Personal Brand Pro</p>
                            </div>
                            <div>
                                <strong class="inline-block">Định vị hình tượng:</strong>
                                <p class="inline-block">Giảng viên Aerobic</p>
                            </div>
                            <div>
                                <strong>Truyền thông:</strong>
                                <ul>
                                    <li>Facebook profile: 40k theo dõi</li>
                                    <li>Fanpage: : 1.378.071 theo dõi</li>
                                    <li>TikTok: 279k theo dõi</li>
                                    <li>Youtube: 58k đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="student d-flex justify-content-between">
                        <div class="student-img">
                            <img src="./img/knowledge.png" alt="" />
                        </div>
                        <div class="student-info">
                            <h4 class="primary-color line-height-normal">
                                Học viên Bảo Ngọc
                            </h4>
                            <strong>CEO Bảo Ngọc Aerobic</strong>
                            <div>
                                <strong class="inline-block">Khóa học: </strong>
                                <p class="inline-block">Personal Brand Pro</p>
                            </div>
                            <div>
                                <strong class="inline-block">Định vị hình tượng:</strong>
                                <p class="inline-block">Giảng viên Aerobic</p>
                            </div>
                            <div>
                                <strong>Truyền thông:</strong>
                                <ul>
                                    <li>Facebook profile: 40k theo dõi</li>
                                    <li>Fanpage: : 1.378.071 theo dõi</li>
                                    <li>TikTok: 279k theo dõi</li>
                                    <li>Youtube: 58k đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="student d-flex justify-content-between">
                        <div class="student-img">
                            <img src="./img/knowledge.png" alt="" />
                        </div>
                        <div class="student-info">
                            <h4 class="primary-color line-height-normal">
                                Học viên Bảo Ngọc
                            </h4>
                            <strong>CEO Bảo Ngọc Aerobic</strong>
                            <div>
                                <strong class="inline-block">Khóa học: </strong>
                                <p class="inline-block">Personal Brand Pro</p>
                            </div>
                            <div>
                                <strong class="inline-block">Định vị hình tượng:</strong>
                                <p class="inline-block">Giảng viên Aerobic</p>
                            </div>
                            <div>
                                <strong>Truyền thông:</strong>
                                <ul>
                                    <li>Facebook profile: 40k theo dõi</li>
                                    <li>Fanpage: : 1.378.071 theo dõi</li>
                                    <li>TikTok: 279k theo dõi</li>
                                    <li>Youtube: 58k đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="student d-flex justify-content-between">
                        <div class="student-img">
                            <img src="./img/knowledge.png" alt="" />
                        </div>
                        <div class="student-info">
                            <h4 class="primary-color line-height-normal">
                                Học viên Bảo Ngọc
                            </h4>
                            <strong>CEO Bảo Ngọc Aerobic</strong>
                            <div>
                                <strong class="inline-block">Khóa học: </strong>
                                <p class="inline-block">Personal Brand Pro</p>
                            </div>
                            <div>
                                <strong class="inline-block">Định vị hình tượng:</strong>
                                <p class="inline-block">Giảng viên Aerobic</p>
                            </div>
                            <div>
                                <strong>Truyền thông:</strong>
                                <ul>
                                    <li>Facebook profile: 40k theo dõi</li>
                                    <li>Fanpage: : 1.378.071 theo dõi</li>
                                    <li>TikTok: 279k theo dõi</li>
                                    <li>Youtube: 58k đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="student d-flex justify-content-between">
                        <div class="student-img">
                            <img src="./img/knowledge.png" alt="" />
                        </div>
                        <div class="student-info">
                            <h4 class="primary-color line-height-normal">
                                Học viên Bảo Ngọc
                            </h4>
                            <strong>CEO Bảo Ngọc Aerobic</strong>
                            <div>
                                <strong class="inline-block">Khóa học: </strong>
                                <p class="inline-block">Personal Brand Pro</p>
                            </div>
                            <div>
                                <strong class="inline-block">Định vị hình tượng:</strong>
                                <p class="inline-block">Giảng viên Aerobic</p>
                            </div>
                            <div>
                                <strong>Truyền thông:</strong>
                                <ul>
                                    <li>Facebook profile: 40k theo dõi</li>
                                    <li>Fanpage: : 1.378.071 theo dõi</li>
                                    <li>TikTok: 279k theo dõi</li>
                                    <li>Youtube: 58k đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="decor">
            <img class="absolute" src="./img/offline_decor.png" alt="" />
        </div>
    </div>
</div>

