html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #141414;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #eee;
        margin: 0;
        padding: 0;
      }

      .container-1200 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

      /* swiper slider */
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-pagination-bullet,
      .swiper-pagination-bullet {
        width: 25px;
        height: 6px;
        border-radius: 6px;
        background: #eee;
        opacity: 0.9;
      }

      .swiper-pagination-bullet-active {
        background: rgb(196, 34, 34);
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: #eee;
        width: 30px;
        height: 30px;
      }

      .swiper-button-next {
        right: -8px;
      }

      .swiper-button-prev {
        left: -8px;
      }

      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: 24px;
      }

      /* .slick-slide  */
      .slick-slide {
        transform: scale(0.85);
        transition: all 0.4s ease-in-out;
        padding: 40px 0;
      }

      .slick-center {
        transform: scale(1);
      }
      @media screen and (max-width: 765px) {
        .slick-next {
          right: 0;
        }
      }
