.knowledge-wrapper {
    padding: 2rem;
}

    .knowledge-wrapper .title {
        font-size: 28px;
        margin-bottom: 2rem;
    }

    .knowledge-wrapper img {
        width: 100%;
    }

.knowledge-sub-banner,
.knowledge-item,
.knowledge-banner {
    margin-bottom: 2rem;
}

    .knowledge-banner .thumb img {
        height: 600px;
    }

    .knowledge-banner .heading {
        font-size: 20px;
        margin-top: 2rem;
    }

    .knowledge-banner .disc {
        font-size: 20px;
    }

    .knowledge-sub-banner .thumb img {
        margin-bottom: 0.5rem;
    }

    .knowledge-item .thumb {
        width: 100%;
        max-width: 50%;
        margin-right: 15px;
    }

    .knowledge-item .text {
        width: 100%;
        max-width: 50%;
    }

.knowledge-page .disc {
    max-height: 300%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px 0;
}

.knowledge-btn::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: #fff;
    transform: translateY(50%);
}

@media only screen and (max-width: 1160px) {
    .knowledge-wrapper {
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .knowledge-banner .thumb img {
        height: auto;
    }

    .knowledge-banner .heading,
    .knowledge-banner .disc {
        font-size: 14px;
    }

    .knowledge-banner .heading {
        margin-top: 10px;
    }

    .knowledge-item {
        flex-direction: column;
    }

        .knowledge-item .thumb,
        .knowledge-item .text {
            max-width: 100%;
            margin-right: 0;
        }

        .knowledge-item .text {
            margin-top: 10px;
        }
}
