@page "/khoa-hoc-offlines"
@inherits OwningComponentBase


<HeadContent>
    <title>Khóa học online - Kolin</title>
</HeadContent>
<div class="store-page relative">
    <div class="decor">
        <img src="./img/Frame.svg" alt="" class="absolute decor2" />
        <img src="./img/offline_decor.png" alt="" class="absolute decor1" />
    </div>
    <div class="content">
        @if (offlineCourseVms != null)
        {
            <div class="row">
                @foreach (var offCourse in offlineCourseVms)
                {
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="course">
                            <div class="video">
                                <iframe width="420"
                                height="345"
                                src="@offCourse.IntroVideoLink">
                                </iframe>
                            </div>
                            <div class="text d-flex justify-content-between align-items-end">
                                <div style="flex: 1">
                                    <p class="heading">KHÓA HỌC</p>
                                    <NavLink class="name primary-color" href="@offCourse.DetailCourseLink">
                                        @offCourse.Name
                                    </NavLink>
                                </div>
                                <div style="flex: 1" class="d-flex justify-content-end">
                                    <button class="secondary-color" @onclick="()=>GoToRegisterPage(offCourse.Id)">Đăng ký >></button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

