@page "/don-hang/{Id:int}"
@using KA.Infrastructure.Enums
@using KA.Infrastructure.Enums.Extension
@inherits OwningComponentBase

<HeadContent>
    <title>Đơn hàng - Kolin</title>
</HeadContent>
<div class="checkout-page max-width mx-auto">
    <div class="title secondary-color">CHECK OUT</div>
    <div class="checkout-wrapper" style="line-height:25px">
        <h2>Chuyển khoản</h2>
        <br />
        <p>
            1. Vào ứng dụng ngân hàng và đăng nhập tài khoản của bạn
        </p>
        <p>
            2. Vui lòng chuyển tiền tới tài khoản sau:
        </p>
        <br />
        <ul>
            <li><b>CHỦ TK: </b> VŨ DIỆU THÚY </li>
            <li><b>NGÂN HÀNG: </b> VP BANK </li>
            <li><b>STK: </b>88166666666666 </li>
        </ul>
        <p>3. Nội dung chuyển khoản: <b style="color:yellow">@("KOLIN_"+model.Code)</b></p>
        <p>
            4. Hoàn tất quá trình chuyển tiền (tên người nhận tiền là VU DIEU THUY)
            <br />
            Sau khoảng 5 phút, bạn có thể sử dụng khóa học.
        </p>
    </div>
</div>